<div class="card mb-4 box-shadow">
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <td class="w-25">Пользователь</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td class="w-25">Номер телефона</td>
                <td>{{ object.phone_number }}</td>
            </tr>
            <tr>
                <td class="w-25">Сообщение</td>
                <td>{{ object.user_text }}</td>
            </tr>
        </table>
    </div>
</div>