{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skystore</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
</head>
<body>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

{% include 'catalog/includes/main_menu.html' %}

{% block content %}
{% endblock %}

{% include 'catalog/includes/footer.html' %}

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>