{% extends 'catalog/base.html' %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Контакты</h1>
    </div>

    <div class="container">
        <div class = "col-12 mb-5">
            <a href="{% url 'catalog:new_contact' %}" class="btn btn-primary">Добавить контакт</a>
        </div>
        <div class="row text-start">
            <div class="col-lg-12 col-md-6 col-sm-12">

                {% for object in object_list %}
                    {% include 'catalog/includes/contact_card.html' %}
                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}