{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row text-center mb-5">
              <div class="col-12">
                  <div class="card mb-4 box-shadow">
                      <div class="card-header">
                          <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
                              {% for ver in is_actual_inf %}
                                  <p><small>вер. {{ver.num}}: "{{ver.name}}" </small>
                              {% endfor %}

                      </div>
                      <div class="card-body">
                          <h1 class="card-title pricing-card-title">{{object.price}} руб</h1>
                          <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                              <li>{{object.description}}</li>
                          </ul>
                      </div>
                  </div>

              </div>
        </div>
        <div class="row text-center mb-5">
            <div class="col-12">
                <img src="{% mediapath object.photo %}" alt="{{object.name}}">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
                <a class="p-2 btn btn-outline-primary " href="{% url 'catalog:update_product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
                <a class="p-2 btn btn-outline-primary " href="{% url 'catalog:delete_product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
            </div>
        </div>
    </div>

{% endblock %}